<i class="material-icons">clear</i>
<div class="logo">
    <div title="www.namakav.com" data-toggle="modal" disabled data-target="#about_us_modal">
        <span class="icon-bg"><span class="nama-icon-pack">&#xe923</span></span>
        <p>Nama-File</p>
    </div>
</div>
<hr />
<div class="items">
    <div class="row-tabs">
        <span class="nama-icon-pack" duty="video">&#xe926</span>
        <span class="nama-icon-pack open-state-tabs" duty="audio">&#xe922</span>
        <span class="nama-icon-pack open-state-tabs" duty="setting">&#xe994</span>
        <span class="nama-icon-pack open-state-tabs" duty="theme">&#xe924</span>
    </div>
    <div class="col-tabs">
        <span class="nama-icon-pack" duty="audio">&#xe922</span>
        <span class="nama-icon-pack" duty="setting">&#xe994</span>
        <span class="nama-icon-pack" duty="theme">&#xe924</span>
    </div>
</div>
<hr class="d-none scroll-border">
<div class="side-bar-content">
    {% include "sidebar/childs/video.html" %}
    {% include "sidebar/childs/audio.html" %}
    {% include "sidebar/childs/setting.html" %}
    {% include "sidebar/childs/theme.html" %}
</div>