<i class="material-icons">clear</i>
<div  class="logo">
    <div>
        <span class="icon-bg"><span class="nama-icon-pack">&#xe923</span></span>
        <p>Nama File</p>
    </div>
</div>
<hr/>
<div class="items">
    <div class="row-tabs">
        <span class="nama-icon-pack">&#xe926</span>
        <span class="nama-icon-pack open-state-tabs">&#xe922</span>
        <span class="nama-icon-pack open-state-tabs">&#xe994</span>
        <span class="nama-icon-pack open-state-tabs">&#xe924</span>
    </div>
    <div class="col-tabs">
        <span class="nama-icon-pack">&#xe922</span>
        <span class="nama-icon-pack">&#xe994</span>
        <span class="nama-icon-pack">&#xe924</span>
    </div>
</div>
