/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#controlCenter{
    width: 70%;
    background-color: #404040;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 20px;
    padding: 20px;
}
body[theme-mode="light"] #controlCenter {
    background-color: #e2e2e2;
}
#controlCenter .ratio-keeper{
    width: 75%;
    height: 0;
    position: relative;
    padding-top: 42.19%;
}
#controlCenter .ratio-keeper span.loading{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #404040;
    z-index: 10;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
body[theme-mode="light"] #controlCenter .ratio-keeper span.loading{
    background-color: #e2e2e2;
}
#controlCenter .ratio-keeper span.loading p.title{
    color: white;
    font-size: 24px;
    font-weight: bold;
}
body[theme-mode="light"] #controlCenter .ratio-keeper span.loading p.title{
    color: black;
}
#controlCenter .ratio-keeper span.loading p.desc{
    color: white;
    font-size: 14px;
}
body[theme-mode="light"] #controlCenter .ratio-keeper span.loading p.desc{
    color: black;
}
#controlCenter .ratio-keeper span.loading .progress{
    width: 70%;
    height: 30px;
    background-color: transparent;
    -webkit-box-shadow: #777777 0 0 2px 4px;
            box-shadow: #777777 0 0 2px 4px;
    border-radius: 6px;
    overflow: hidden;
}
body[theme-mode="light"] #controlCenter .ratio-keeper span.loading .progress{
    -webkit-box-shadow: #c3c3c3 0 0 2px 4px;
            box-shadow: #c3c3c3 0 0 2px 4px;;
}
#controlCenter .ratio-keeper span.loading .active{
    width: 0;
    height: 100%;
    background-color: #bd99fd;
    border-radius: 6px;
}
body[theme="ice-blue"] #controlCenter .ratio-keeper span.loading .active{
    background-color: #beeef9;
}
body[theme="amber"] #controlCenter .ratio-keeper span.loading .active{
    background-color: #ffd8ab;
}
body[theme="mint"] #controlCenter .ratio-keeper span.loading .active{
    background-color: #b7ffb5;
}
body[theme="salmon-pink"] #controlCenter .ratio-keeper span.loading .active{
    background-color: #ffc9d0;
}
#controlCenter #main_video_player{
    background-color: #333;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
body[theme-mode="light"] #controlCenter #main_video_player{
    background-color: white;
}
#controlCenter .control-buttons {
    height: 100%;
    width: 25%;
    padding: 0 12px 4px 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
#controlCenter .control-buttons button {
    width: 100%;
    height: 17%;
    margin: 0;
    background-color: #bd99fd;
    color: black;
    outline: none;
}
body[theme="ice-blue"] #controlCenter .control-buttons button{
    background-color: #beeef9;
}
body[theme="amber"] #controlCenter .control-buttons button{
    background-color: #ffd8ab;
}
body[theme="mint"] #controlCenter .control-buttons button{
    background-color: #b7ffb5;
}
body[theme="salmon-pink"] #controlCenter .control-buttons button{
    background-color: #ffc9d0;
}
#controlCenter .control-buttons button:disabled {
    color: white;
    background-color: transparent !important;
}
body[theme-mode="light"] #controlCenter .control-buttons button:disabled{
    color: black;
    background-color: transparent;
}
#controlCenter .control-buttons .space-manager{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}


#informationModal {
    background-color: rgba(255, 255, 255, 0.35);
}
#informationModal .modal-dialog{
    width: 60%;
}
#informationModal .modal-content{
    -webkit-box-shadow: black 0 0 80px 20px;
            box-shadow: black 0 0 80px 20px;
    background-color: #404044;
    padding: 36px 10% 36px 10%;
}
body[theme-mode="light"] #informationModal .modal-content{
    -webkit-box-shadow: black 0 0 80px 20px;
            box-shadow: black 0 0 80px 20px;
    background-color: #e2e2e2;
}
#informationModal .modal-content h5{
    font-size: 180%;
    color: white;
    margin-bottom: 36px;
    margin-top: 24px;
}
body[theme-mode="light"] #informationModal .modal-content h5{
    color: black;
}
#informationModal .modal-content table tr td{
    font-size: 120%;
    color: white;
    padding: 5px 0 5px 0;
}
body[theme-mode="light"] #informationModal .modal-content table tr td{
    color: black;
}
#informationModal .modal-content button{
    position: absolute;
    right: 36px;
    top: 36px;
}
#informationModal .modal-content button span{
    font-size: 160%;
    color: white;
}
body[theme-mode="light"] #informationModal .modal-content button span{
    color: black;
}