/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#errorLog {
    width: 100%;
    background-color: #404040;
    border-radius: 10px;
    margin-bottom: 32px;
}
body[theme-mode="light"] #errorLog{
    background-color: #e2e2e2;
}
#errorLog .el-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 5%;
    width: 100%;
    border-bottom: #777777 2px solid;
}
body[theme-mode="light"] #errorLog .el-header{
    border-bottom: #c3c3c3 2px solid;
}
#errorLog .el-header p {
    padding: 1% 0;
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    color: white;
    font-size: 140%;
}
body[theme-mode="light"] #errorLog .el-header p{
    color: black;
}
#errorLog .scroll-controler{
    width: 100%;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}
#errorLog .scroll-controler .after, #errorLog .scroll-controler .before{
    padding: 24px 5%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
/* #errorLog .scroll-controler .after button, #errorLog .scroll-controler .before button{
    
} */
#errorLog .scroll-controler div.record{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 5%;
    border-bottom: 1px solid #777777;
}
body[theme-mode="light"] #errorLog .scroll-controler div.record{
    border-bottom: 1px solid #c3c3c3;
}
#errorLog .scroll-controler div.record span{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    color: white;
    font-size: 120%;
}
body[theme-mode="light"] #errorLog .scroll-controler div.record span{
    color: black;
}