/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.time-progress-bar {
    height: 0;
    width: 100%;
    background-color: #404040;
    border-radius: 0 0 20px 20px;
    top: 0;
    z-index: 10;
    position: -webkit-sticky;
    position: sticky;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
    transition: height 0.3s ease-out;
    overflow: hidden;
    -webkit-box-shadow: black 20px 0px 40px;
            box-shadow: black 20px 0px 40px;
}

body[theme-mode="light"] .time-progress-bar {
    background-color: #e2e2e2;
}

.time-progress-bar .interval h5 {
    color: white;
    margin-top: 36px;
    margin: 0;
}

body[theme-mode="light"] .time-progress-bar .interval h5 {
    color: black;
}

.time-progress-bar .interval {
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.time-progress-bar .time-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.time-progress-bar .frame-keeper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.time-progress-bar .time-index h6 {
    padding: 20px 0;
    color: white;
    position: relative;
    width: 64px;
    text-align: center;
}

body[theme-mode="light"] .time-progress-bar .time-index h6 {
    color: black;
}

.time-progress-bar .time-index h6::after {
    content: "";
    width: 1px;
    height: 300px;
    z-index: 10;
    top: 0;
    left: 50%;
    border: dashed rgba(255, 255, 255, 0.3) 1px;
    position: absolute;
}

body[theme-mode="light"] .time-progress-bar .time-index h6::after {
    border: dashed #c3c3c3 1px;
}

.time-progress-bar .timeline-container {
    width: calc(100% - 250px);
    padding-right: 12px;
    position: relative;

}

.time-progress-bar .timeline-container .timeline-viewport {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: auto;
}

.time-progress-bar .timeline-container .timeline-viewport::-webkit-scrollbar {
    display: none;
}

.time-progress-bar .timeline-container .start-border {
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 0;
    top: 0;
}

body[theme-mode="light"] .time-progress-bar .timeline-container .start-border {
    background-color: #c3c3c3;
}

.time-progress-bar .timeline-container .end-border {
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    right: 12px;
    top: 0;
}

body[theme-mode="light"] .time-progress-bar .timeline-container .end-border {
    background-color: #c3c3c3;
}

.time-progress-bar .scroll-manager {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    overflow-y: hidden;
    position: relative;
}

.time-progress-bar .timeline-container .scroll-manager .cursor {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 5px;
    left: 0;
    -webkit-transition: left 0.2s linear;
    -o-transition: left 0.2s linear;
    transition: left 0.2s linear;
}

.time-progress-bar .timeline-container .scroll-manager .cursor i {
    font-size: 24px;
    color: #cccccc;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    ;
}

body[theme-mode="light"] .time-progress-bar .timeline-container .scroll-manager .cursor i {
    color: black;
}

.time-progress-bar .timeline-container .scroll-manager .cursor span {
    width: 4px;
    height: 20px;
    border-radius: 2px;
    background-color: #cccccc;
    -webkit-box-shadow: black 0px 0 15px 8px;
            box-shadow: black 0px 0 15px 8px;
    margin-top: 5px;
    z-index: 5;
}

body[theme-mode="light"] .time-progress-bar .timeline-container .scroll-manager .cursor span {
    -webkit-box-shadow: #c3c3c3 0px 0 15px 8px;
            box-shadow: #c3c3c3 0px 0 15px 8px;
    background-color: black;
}

.time-progress-bar .timeline-container .scroll-manager .click-area {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    color: white;
    top: 0;
}


.features-error {
    width: 100%;
    height: 70px;
    background-color: #404040;
    border-radius: 10px;
    margin-bottom: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
    transition: height 0.3s ease-out;
}

body[theme-mode="light"] .features-error {
    background-color: #e2e2e2;
}

.features-error .expand-controler {
    width: 250px;
    height: 100%;
    padding-left: 24px;
    padding-top: 15px;

}

.features-error .expand-controler div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.features-error .expand-controler .custom-sm-btn {
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40px;
    height: 40px;
}

.features-error .expand-controler .custom-sm-btn i {
    font-size: 36px;
}

.features-error .expand-controler span {
    font-size: 20px;
    margin-left: 12px;
    color: white;
}

body[theme-mode="light"] .features-error .expand-controler span {
    color: black;
}

.features-error .error-content {
    padding-right: 12px;
    width: calc(100% - 250px);
}

.features-error .error-content .scroll-manager {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.features-error .error-content .scroll-manager .scroll-body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.features-error .error-content .scroll-manager .barcode-keeper {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    position: relative;
    -webkit-transition: margin-top 0.3s ease-out;
    -o-transition: margin-top 0.3s ease-out;
    transition: margin-top 0.3s ease-out;
}

.features-error .error-content .scroll-manager .barcode-keeper .error {
    height: 100%;
    position: absolute;
    background-color: #bd99fd;
}

body[theme="ice-blue"] .features-error .error-content .scroll-manager .barcode-keeper .error {
    background-color: #beeef9;
}

body[theme="amber"] .features-error .error-content .scroll-manager .barcode-keeper .error {
    background-color: #ffd8ab;
}

body[theme="mint"] .features-error .error-content .scroll-manager .barcode-keeper .error {
    background-color: #b7ffb5;
}

body[theme="salmon-pink"] .features-error .error-content .scroll-manager .barcode-keeper .error {
    background-color: #ffc9d0;
}

.features-error .error-content .scroll-manager .diagram-keeper {
    margin-top: 10px;
    height: 180px;
    width: 100%;
    position: relative;
}

.features-error .error-content .scroll-manager .cursor {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    left: 0;
    -webkit-transition: left 0.2s linear;
    -o-transition: left 0.2s linear;
    transition: left 0.2s linear;
}

.features-error .error-content .scroll-manager .cursor i {
    font-size: 32px;
    color: #cccccc;
    z-index: 6;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    ;
}

body[theme-mode="light"] .features-error .error-content .scroll-manager .cursor i {
    color: black;
}

.features-error .error-content .scroll-manager .cursor span {
    width: 4px;
    height: 35px;
    background-color: #cccccc;
    -webkit-box-shadow: black 0px 0 15px 8px;
            box-shadow: black 0px 0 15px 8px;
    margin-top: -3px;
    z-index: 5;
    -webkit-transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
    transition: height 0.3s ease-out;
}

body[theme-mode="light"] .features-error .error-content .scroll-manager .cursor span {
    background-color: black;
    -webkit-box-shadow: #c3c3c3 0px 0 15px 8px;
            box-shadow: #c3c3c3 0px 0 15px 8px;
}