/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#featuresValue{
    height: auto;
    width: 28%;
    margin-left: 2%;
    background-color: #404040;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
}
body[theme-mode="light"] #featuresValue{
    background-color: #e2e2e2;
}
#featuresValue .fv-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: #777777 1px solid;
}
body[theme-mode="light"] #featuresValue .fv-header{
    border-bottom: #c3c3c3 1px solid;
}
#featuresValue .fv-header .seleceted-features{
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    padding: 18px 0px 18px 36px; 
    margin: 0;
    font-weight: bold;
    font-size: 150%;
    color: white;
}
body[theme-mode="light"] #featuresValue .fv-header .seleceted-features{
    color: black;
}
#featuresValue .fv-header .value{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 18px 36px 18px 0px; 
    margin: 0;
    font-weight: bold;
    font-size: 150%;
    text-align: right;
    color: white;
}
body[theme-mode="light"] #featuresValue .fv-header .value{
    color: black;
}
#featuresValue .scroll-controler{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
    overflow-y: auto;
}
#featuresValue .scroll-controler table{
    position: absolute;
}
#featuresValue .scroll-controler table td{
    font-size: 140%;
    color: white;
    border-bottom: solid 1px #777777;
}
body[theme-mode="light"] #featuresValue .scroll-controler table td{
    border-bottom: #c3c3c3 1px solid;
}
#featuresValue .scroll-controler table td:nth-child(1){
    padding-left: 36px;
}
#featuresValue .scroll-controler table td:nth-child(2){
    padding-right: 36px;
    text-align: right;
}