/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body{
    width: 100%;
    padding: 0;
    padding-left: 72px;
    margin: 0;
    min-height: 100vh;
    background-color: #000000;
}
body[theme-mode="light"] {
    background-color: white;
}
#sideMenu{
    width: 72px;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    top: 0;
    background-color: #404040;
    min-height: 100vh;
    z-index: 15;
    -webkit-transition: width 0.3s ease-out;
    -o-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out;
}
body[theme-mode="light"] #sideMenu{
    background-color: #e2e2e2;
}
#content{
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
}
#sideMenuTrans{
    width: calc(100vw - 72px);
    background-color: #929292;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity 0.3s linear;
    -o-transition: visibility 0s, opacity 0.3s linear;
    transition: visibility 0s, opacity 0.3s linear;
}