#sideBarAudio{
    width: 100%;
    position: absolute;
    padding-left: 24px;
    padding-top: 20px;
}
#sideBarAudio .select-all{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 14px 0;
}
#sideBarAudio .select-all h6{
    margin-left: 24px;
    color: white;
    font-size: 20px;
    text-decoration: underline;
}
#sideBarAudio .feature{
    width: 100%;
    display: flex;
    padding: 14px 0;
    align-items: center;
}
#sideBarAudio .feature .nama-icon-pack{
    margin-left: 24px;
    font-size: 28px;
    color: white;
    width: 50px;
    text-align: left;
}
#sideBarAudio .feature h6{
    margin: 0;
    font-size: 20px;
    color: white;
}