/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#sideBarSetting{
    width: 100%;
    position: absolute;
    padding-left: 24px;
    padding-right: 24px;
}
#sideBarSetting .toolbar{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #404040;
    padding: 24px 0;
    border-bottom: solid 1px #777777;
    margin-bottom: 24px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
body[theme-mode="light"] #sideBarSetting .toolbar {
    border-bottom: solid 1px #c3c3c3;
    background-color: #e2e2e2;
}
#sideBarSetting .toolbar button{
    width: 45%;
}
#sideBarSetting .setting-section-title{
    color: white;
    text-align: center;
    font-size: 20px;
}
body[theme-mode="light"] #sideBarSetting .setting-section-title {
    color: black;
}
#sideBarSetting .treshold-input-field{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 16px;
}
#sideBarSetting .treshold-input-field label{
    font-size: 20px;
    color: white;
}
body[theme-mode="light"] #sideBarSetting .treshold-input-field label {
    color:black;
}
#sideBarSetting .treshold-input-field input{
    font-size: 20px;
    height: 40px;
    border-radius: 6px;
    background-color: transparent;
    outline: none;
    padding: 0 12px 0 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    -webkit-box-shadow: inset #777777 0 0 2px 2px;
            box-shadow: inset #777777 0 0 2px 2px;
    border: none;
}
body[theme-mode="light"] #sideBarSetting .treshold-input-field input {
    -webkit-box-shadow: inset #c3c3c3 0 0 2px 2px;
            box-shadow: inset #c3c3c3 0 0 2px 2px;
    color: black;
}