/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#sideBarAudio{
    width: 100%;
    position: absolute;
    padding-left: 24px;
    padding-top: 20px;
}
#sideBarAudio .select-all{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 14px 0;
}
#sideBarAudio .select-all h6{
    margin-left: 24px;
    color: white;
    font-size: 20px;
    text-decoration: underline;
}
body[theme-mode="light"] #sideBarAudio .select-all h6 {
    color:black;
}
#sideBarAudio .feature{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 14px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#sideBarAudio .feature .nama-icon-pack{
    margin-left: 24px;
    font-size: 28px;
    color: white;
    min-width: 50px;
    text-align: left;
}
body[theme-mode="light"] #sideBarAudio .feature .nama-icon-pack {
    color:black;
}
#sideBarAudio .feature h6{
    margin: 0;
    font-size: 20px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    color: white;
}
body[theme-mode="light"] #sideBarAudio .feature h6 {
    color:black;
}