/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#sideMenu .logo{
    padding: 8px;
    margin-top: 6px;
    width: 100%;
    overflow: hidden;
}
#sideMenu .logo div {
    padding: 0;
    margin: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
#sideMenu .logo .icon-bg {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
body[theme-mode="light"] #sideMenu .logo .icon-bg {
    background-color: white;
}
#sideMenu .logo .icon-bg span{
    font-size: 56px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color: white;
}
body[theme-mode="light"] #sideMenu .logo .icon-bg span{
    color: black;
}
#sideMenu .logo p {
    margin: 0;
    margin-left: 24px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-weight: bold;
    font-size: 24px;
    color: white;
}
body[theme-mode="light"] #sideMenu .logo p {
    color: black;
}
#sideMenu i.material-icons {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
    opacity: 0;
    color: white;
    -webkit-transition: opacity ease-out 0.3s;
    -o-transition: opacity ease-out 0.3s;
    transition: opacity ease-out 0.3s;
}
body[theme-mode="light"] #sideMenu i.material-icons {
    color: black;
}
#sideMenu hr {
    background-color: #777777;
    margin: 0px 7px;
    opacity: 0.7;
}

#sideMenu .items {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    overflow: hidden;
    margin-top: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* transition: height 0.3s ease-out; */
}
#sideMenu .items .row-tabs {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 12px;
}
#sideMenu .items span {
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 36px;
    text-align: center;
    color: white;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
body[theme-mode="light"] #sideMenu .items span {
    color:black;
}
#sideMenu .items .row-tabs span {
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-radius: 10px;
}
#sideMenu .items .row-tabs span:nth-child(1) {
    width: 72px;
}
#sideMenu .items .row-tabs span.active{
    background-color: #bd99fd;
    color: black;
}
body[theme="ice-blue"] #sideMenu .items .row-tabs span.active{
    background-color: #beeef9;
}
body[theme="amber"] #sideMenu .items .row-tabs span.active{
    background-color: #ffd8ab;
}
body[theme="mint"] #sideMenu .items .row-tabs span.active{
    background-color: #b7ffb5;
}
body[theme="salmon-pink"] #sideMenu .items .row-tabs span.active{
    background-color: #ffc9d0;
}
#sideMenu .items .row-tabs .open-state-tabs {
    width: 20% !important;
    margin-left: 4%;
}
#sideMenu .items .col-tabs {
    width: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
#sideMenu .items .col-tabs span{   
    margin-bottom: 12px;
    width: 100%;
}

#sideMenu .side-bar-content{
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow-x: hidden;
    position: relative;
    overflow-y: auto;
    margin-left: 72px;
    -webkit-transition: ease-out 0.3s margin-left;
    -o-transition: ease-out 0.3s margin-left;
    transition: ease-out 0.3s margin-left;
}



 #about_us_modal {
    background-color: rgba(255, 255, 255, 0.35);
} #about_us_modal .modal-dialog{
    width: 60%;
} #about_us_modal .modal-content{
    -webkit-box-shadow: black 0 0 80px 20px;
            box-shadow: black 0 0 80px 20px;
    background-color: #404044;
    padding: 36px 10% 36px 10%;
}
body[theme-mode="light"] #about_us_modal .modal-content{
    -webkit-box-shadow: black 0 0 80px 20px;
            box-shadow: black 0 0 80px 20px;
    background-color: #e2e2e2;
} #about_us_modal .modal-content h5{
    font-size: 180%;
    color: white;
    margin-bottom: 36px;
    margin-top: 24px;
}
body[theme-mode="light"] #about_us_modal .modal-content h5{
    color: black;
} #about_us_modal .modal-content p{
    color: white;
}
body[theme-mode="light"] #about_us_modal .modal-content p{
    color: black;
} #about_us_modal .modal-content button{
    position: absolute;
    right: 36px;
    top: 36px;
} #about_us_modal .modal-content button span{
    font-size: 160%;
    color: white;
}
body[theme-mode="light"] #about_us_modal .modal-content button span{
    color: black;
}