#sideMenu .logo{
    padding: 8px;
    margin-top: 6px;
    width: 100%;
    overflow: hidden;
}
#sideMenu .logo div {
    padding: 0;
    margin: 0;
    width: max-content;
    display: flex;
    position: relative;

}
#sideMenu .logo .icon-bg {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sideMenu .logo .icon-bg span{
    font-size: 56px;
    color: white;
}
#sideMenu .logo p {
    margin: 0;
    margin-left: 24px;
    flex-wrap: nowrap;
    align-self: center;
    color: white;
}
#sideMenu i.material-icons {
    position: absolute;
    right: 12px;
    top: 12px;
    color: white;
}
#sideMenu hr {
    background-color: white;
    margin: 0px 7px;
    opacity: 0.7;
}

#sideMenu .items {
    height: max-content;
    overflow: hidden;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    /* transition: height 0.3s ease-out; */
}
#sideMenu .items .row-tabs {
    width: 300px;
    display: flex;
    margin-bottom: 12px;
}
#sideMenu .items span {
    font-size: 36px;
    text-align: center;
    color: white;
    transition: all 0.3s ease-out;
}
#sideMenu .items .row-tabs span {
    transition: all 0.3s ease-out;
}
#sideMenu .items .row-tabs span:nth-child(1) {
    width: 72px;
}
#sideMenu .items .row-tabs .open-state-tabs {
    width: 20% !important;
    margin-left: 4%;
}
#sideMenu .items .col-tabs {
    width: 72px;
    display: flex;
    flex-direction: column;
}
#sideMenu .items .col-tabs span{   
    margin-bottom: 12px;
    width: 100%;
}