/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#sideBarTheme {
    width: 100%;
    padding-left: 24px;
    position: absolute;
}
#sideBarTheme .them-mode {
    width: 100%;
}
#sideBarTheme .them-mode h5{
    color: white;
    font-size: 150%;
    margin-top: 24px;
    margin-bottom: 32px;
}
body[theme-mode="light"] #sideBarTheme .them-mode h5 {
    color:black;
}
#sideBarTheme .them-mode .radio-group{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#sideBarTheme .them-mode .big-radio{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center ;
        -ms-flex-align: center ;
            align-items: center ;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
#sideBarTheme .them-mode .big-radio input{
    width: 50px;
    height: 50px;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}
#sideBarTheme .them-mode .big-radio span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#sideBarTheme .them-mode .big-radio.light span {
    background-color: white;
}
#sideBarTheme .them-mode .big-radio.dark span {
    background-color: black;
}
#sideBarTheme .them-mode .big-radio h6 {
    margin-left: 12px;
    font-size: 18px;
    color: white;
}
body[theme-mode="light"] #sideBarTheme .them-mode .big-radio h6 {
    color:black;
}
#sideBarTheme .them-mode .big-radio input:checked ~ span{
    border: 3.5px rgb(130, 235, 130) solid;
}
#sideBarTheme .them-mode .big-radio input:checked ~ span::after{
    width: 26px;
    height: 17px;
    border-bottom: 7px solid rgb(130, 235, 130);
    content: "";
    position: absolute;
    border-left: 7px solid rgb(130, 235, 130);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 14px;
    left: 12px;
}
#sideBarTheme hr {
    margin-left: -12px;
    margin-top: 24px;
    margin-right: 12px;
}
#sideBarTheme > h5{
    color: white;
    font-size: 150%;
    margin-top: 48px;
    margin-bottom: 24px;
}
body[theme-mode="light"] #sideBarTheme > h5 {
    color:black;
}