/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#timeline {
    width: 100%;
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #404040;
    border-radius: 10px;
}
body[theme-mode="light"] #timeline {
    background-color: #e2e2e2;
}
#timeline .interval h5 {
    color: white;
    margin-top: 36px;
}
body[theme-mode="light"] #timeline .interval h5 {
    color: black;
}
#timeline .interval {
    width: 250px;
    padding-bottom: 48px;
}
#timeline .interval div button {
    padding: 5px 0;
    width: 90px;
    margin-top: 16px;
    outline: none;
    color: black;
    background-color: #bd99fd;
}
body[theme="ice-blue"] #timeline .interval div button{
    background-color: #beeef9;
}
body[theme="amber"] #timeline .interval div button{
    background-color: #ffd8ab;
}
body[theme="mint"] #timeline .interval div button{
    background-color: #b7ffb5;
}
body[theme="salmon-pink"] #timeline .interval div button{
    background-color: #ffc9d0;
}
#timeline .interval div button[state="selected"]{
    background-color: transparent !important;
    color: white;
    border: #bd99fd solid 2px;
}
body[theme="ice-blue"] #timeline .interval div button[state="selected"]{
    border-color: #beeef9;
}
body[theme="amber"] #timeline .interval div button[state="selected"]{
    border-color: #ffd8ab;
}
body[theme="mint"] #timeline .interval div button[state="selected"]{
    border-color: #b7ffb5;
}
body[theme="salmon-pink"] #timeline .interval div button[state="selected"]{
    border-color: #ffc9d0;
}
#timeline .interval div button:disabled {
    background-color: transparent;
    color: white;
}
body[theme-mode="light"] #timeline .interval div button:disabled {
    background-color: transparent;
    color: black;
}
#timeline .interval div button:nth-child(even) {
    margin-left: 20px;
}
#timeline .time-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}
#timeline .frame-keeper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}
#timeline .time-index h6{
    padding: 20px 0;
    color: white;
    position: relative;
    width: 64px;
    text-align: center;
}
body[theme-mode="light"] #timeline .time-index h6 {
    color: black;
}
#timeline .time-index h6::after{
    content: "";
    width: 1px;
    height: 300px;
    z-index: 10;
    top: 60px;
    left: 50%;
    border: dashed rgba(255, 255, 255, 0.3) 1px;
    position: absolute;
}
body[theme-mode="light"] #timeline .time-index h6::after {
    border: dashed #c3c3c3 1px;
}
#timeline .timeline-container{
    width: calc( 100% - 250px);
    padding-right: 12px;
    position: relative;

}
#timeline .timeline-container .timeline-viewport {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: auto;
}
#timeline .timeline-container .start-border {
    height: calc(100% - 40px);
    width: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 0;
    bottom: 0;
}
body[theme-mode="light"] #timeline .timeline-container .start-border {
    background-color: #c3c3c3;
}
#timeline .timeline-container .end-border {
    height: calc(100% - 40px);
    width: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    right: 12px;
    bottom: 0;
}
body[theme-mode="light"] #timeline .timeline-container .end-border {
    background-color: #c3c3c3;
}
#timeline .scroll-manager{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    overflow-y: hidden;
    position: relative;
}
#timeline .scroll-manager wave{
    overflow: hidden !important;
}
#timeline .timeline-container .scroll-manager .cursor {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 5px;
    left: 0;
    -webkit-transition: left 0.2s linear;
    -o-transition: left 0.2s linear;
    transition: left 0.2s linear;
}
#timeline .timeline-container .scroll-manager .cursor i{
    font-size: 36px;
    color: #cccccc;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);;
}
body[theme-mode="light"] #timeline .timeline-container .scroll-manager .cursor i {
    color: black;
}
#timeline .timeline-container .scroll-manager .cursor span{
    width: 4px;
    height: 300px;
    background-color: #cccccc;
    -webkit-box-shadow: black 0px 0 15px 8px;
            box-shadow: black 0px 0 15px 8px;
    margin-top: 5px;
    z-index: 5;
}
body[theme-mode="light"] #timeline .timeline-container .scroll-manager .cursor span{
    -webkit-box-shadow: #c3c3c3 0px 0 15px 8px;
            box-shadow: #c3c3c3 0px 0 15px 8px;
    background-color: black;
}
#timeline .timeline-container .scroll-manager .click-area{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    color: white;
    top: 0;
}