.source {
    display: none !important;
}

.custom-sm-btn {
    border-radius: 5px;
    box-shadow: #aaaaaa 0 0 4px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
}
body[theme-mode="light"] .custom-sm-btn{
    box-shadow: #c3c3c3 0 0 4px;
    color: black;
}

.custom-lg-btn {
    border-radius: 15px;
    box-shadow: #777777 0 0 3px 4px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-size: 130%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
body[theme-mode="light"] .custom-lg-btn{
    box-shadow: #c3c3c3 0 0 3px 4px;
    color: black;
}

.section-title {
    font-size: 38px;
    padding: 24px 0;
    color: white;
}
body[theme-mode="light"] .section-title{
    color: black;
}

.nama-icon-pack {
    font-family: 'icomoon';
}
@font-face {
    font-family: 'icomoon';
    src: url('../frontLibs/icomoon/fonts/icomoon.eot');
    src: url('../frontLibs/icomoon/fonts/icomoon.eot') format('embedded-opentype'),
    url('../frontLibs/icomoon/fonts/icomoon.ttf') format('truetype'),
    url('../frontLibs/icomoon/fonts/icomoon.woff') format('woff'),
    url('../frontLibs/icomoon/fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


.custom-ckeckbox{
    position: relative;
    display: flex;
}
.custom-ckeckbox input[type="checkbox"]{
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 22px;
    height: 22px;
}
.custom-ckeckbox input[type="checkbox"]:checked ~ span.checkbox{
    background-color: white;
}
body[theme-mode="light"] .custom-ckeckbox input[type="checkbox"]:checked ~ span.checkbox{
    background-color: black;
}
.custom-ckeckbox input[type="checkbox"]:checked ~ span.checkbox::after{
    content: "";
    width: 16px;
    height: 10px;
    border-bottom: solid #404040 5px;
    border-left: solid #404040 5px;
    left: 3px;
    top: 4px;
    position: absolute;
    transform: rotate(-45deg);
}
body[theme-mode="light"] .custom-ckeckbox input[type="checkbox"]:checked ~ span.checkbox::after{
    border-bottom: solid white 5px;
    border-left: solid white 5px;
}
.custom-ckeckbox span.checkbox{
    width: 22px;
    height: 22px;
    display: block;
    border: 2px solid white;
    border-radius: 6px;
} 
body[theme-mode="light"] .custom-ckeckbox span.checkbox{
    border-color: black;
}

.custom-radio{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.custom-radio h6{
    cursor: pointer;
}
.custom-radio input[type="radio"]{
    position: absolute;
    /* z-index: -1; */
    width: 24px;
    height: 24px;
    opacity: 0;
}
.custom-radio span{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: solid white 2px;
}
body[theme-mode="light"] .custom-radio span{
    border-color: black;
}
.custom-radio input:checked ~ span{
    border-color: #bd99fd;
}
body[theme="ice-blue"] .custom-radio input:checked ~ span{
    border-color: #beeef9;
}
body[theme="amber"] .custom-radio input:checked ~ span{
    border-color: #ffd8ab;
}
body[theme="mint"] .custom-radio input:checked ~ span{
    border-color: #b7ffb5;
}
body[theme="salmon-pink"] .custom-radio input:checked ~ span{
    border-color: #ffc9d0;
}
.custom-radio input:checked ~ span::after{
    background-color: #bd99fd;
    content: "";
    width: 14px;
    position: absolute;
    border-radius: 50%;
    height: 14px;
    top: 5px;
    left: 5px;
}
body[theme="ice-blue"] .custom-radio input:checked ~ span::after{
    background-color: #beeef9;
}
body[theme="amber"] .custom-radio input:checked ~ span::after{
    background-color: #ffd8ab;
}
body[theme="mint"] .custom-radio input:checked ~ span::after{
    background-color: #b7ffb5;
}
body[theme="salmon-pink"] .custom-radio input:checked ~ span::after{
    background-color: #ffc9d0;
}
.custom-radio h6{
    font-size: 130%;
    color: white;
    margin: 0;
    margin-left: 12px;
}
body[theme-mode="light"] .custom-radio h6{
    color:black;
}