<div id="sideBarSetting" class="d-none">
    <div class="toolbar">
        <button class="custom-sm-btn save">Save</button>
        <button class="custom-sm-btn reset">Default</button>
    </div>
    <p class="setting-section-title">Tresholds:</p>
    <div class="treshold-input-field source">
        <label>Example</label>
        <input step="0.1" min="0" max="1" type="number">
    </div>
</div>