<div id="sideBarTheme" class="d-none">
    <div class="them-mode">
        <h5>Theme Mode</h5>
        <div class="radio-group">
            <div class="big-radio light">
                <input type="radio" name="themeMainMode" value="light">
                <span></span>
                <h6>Light</h6>
            </div>
            <div class="big-radio dark">
                <input type="radio" name="themeMainMode" checked value="dark">
                <span></span>
                <h6>Dark</h6>
            </div>
        </div>
    </div>
    <hr>
    <h5>Theme Mode</h5>
    <div class="custom-radio">
        <input type="radio" name="themeMode" checked value="lavender">
        <span></span>
        <h6>Lavender</h6>
    </div>
    <div class="custom-radio">
        <input type="radio" name="themeMode" value="ice blue">
        <span></span>
        <h6>Ice Blue</h6>
    </div>
    <div class="custom-radio">
        <input type="radio" name="themeMode" value="amber">
        <span></span>
        <h6>Amber</h6>
    </div>
    <div class="custom-radio">
        <input type="radio" name="themeMode" value="mint">
        <span></span>
        <h6>Mint</h6>
    </div>
    <div class="custom-radio">
        <input type="radio" name="themeMode" value="salmon pink">
        <span></span>
        <h6>Salmon Pink</h6>
    </div>
</div>