<div id="sideBarVideo" class="d-none">
    <div class="select-all">
        <div class="custom-ckeckbox">
            <input type="checkbox" ></input>
            <span class="checkbox"></span>
        </div>
        <h6>select all</h6>
    </div>
    <div class="feature source">
        <div class="custom-ckeckbox">
            <input type="checkbox" ></input>
            <span class="checkbox"></span>
        </div>
        <span class="nama-icon-pack"></span>
        <h6></h6>
    </div>
</div>