<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Nama-file</title>
    <meta name="keywords" content="video" />
    <meta name="description" content="video analize" />
    <link rel="shortcut icon" type="image/png" href="{% static 'pic/favicon.ico' %}" />
    <!-- -----------jquery----------------------------------------------- -->
    <script src="{% static 'frontLibs/jquery.min.js' %}"></script>
    <!-- -----------jquery-ui-------------------------------------------- -->
    <script src="{% static 'frontLibs/jquery-ui/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'frontLibs/jquery-ui/jquery-ui.min.css' %}">
    <!-- -----------bootstrap-------------------------------------------- -->
    <link rel="stylesheet" href="{% static 'frontLibs/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}" />
    <script src="{% static 'frontLibs/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>
    <!-- -----------material-icon------------------------------------- -->
    <link href="{% static 'frontLibs/material-icon/icon.css' %}" rel="stylesheet">
    <!-- -----------hls video palyer---------------------------------- -->
    <script src="{% static 'frontLibs/hls.js' %}"></script>
    <!-- -----------no ui slider-------------------------------------- -->
    <script src="{% static 'frontLibs/noUiSlider-14.0.2/nouislider.min.js' %}"></script>
    <!-- -----------chart js------------------------------------------ -->
    <script src="{% static 'frontLibs/chart.js' %}"></script>
    <!-- -----------chart js plugin----------------------------------- -->
    <script src="{% static 'frontLibs/chartjs-plugin-doughnutlabel.min.js' %}"></script>
    <!-- -----------project styles ----------------------------------- -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/sideBarVideo.css' %}">
    <link rel="stylesheet" href="{% static 'css/sideBarAudio.css' %}">
    <link rel="stylesheet" href="{% static 'css/sideBarSetting.css' %}">
    <link rel="stylesheet" href="{% static 'css/sideBarTheme.css' %}">
    <link rel="stylesheet" href="{% static 'css/controlCenter.css' %}">
    <link rel="stylesheet" href="{% static 'css/featuresValue.css' %}">
    <link rel="stylesheet" href="{% static 'css/timeline.css' %}">
    <link rel="stylesheet" href="{% static 'css/errorLog.css' %}">
    <link rel="stylesheet" href="{% static 'css/utilities.css' %}">
    <link rel="stylesheet" href="{% static 'css/featuresError.css' %}">
    <script src="{% static 'frontLibs/wavesurfer.js' %}"></script>


</head>

<body>
    <!-- -----------content section ---------------------------------- -->
    <div id="content">
        {% include "content/content.html" %}
    </div>
    <div class="d-none" id="sideMenuTrans"></div>
    <!-- -----------side bar section --------------------------------- -->
    <div id="sideMenu">
        {% include "sidebar/sidebar.html" %}
    </div>

    <div class="modal" id="about_us_modal" role="dialog" aria-labelledby="about_us_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 id="about_us_modal_label">About Us</h5>
                <p>
                    “Namakav” is a software-based solution for no-reference video/audio quality monitoring which is
                    available
                    for PCs/servers. By featuring a comprehensive list of video/audio quality metrics (more than 30
                    quality
                    features), this software eliminates the need of manually checking video/audio files. Namakav allows
                    for
                    three modes of operation:
                    1. Online mode: This mode provides an instantaneous quality monitoring panel while displaying the
                    video
                    content. The allowed quality metrics in this mode are evaluated in real-time. This mode is
                    particularly
                    useful for online monitoring of broadcast streams.
                    2. Offline mode: By allocating all the computational resources to a single file, this mode allows
                    for
                    fast
                    evaluation of requested quality metrics (a comprehensive list), as well as displaying the video file
                    (frame
                    by frame) and various quality metrics. The included Turbo Scan feature in this mode is designed to
                    provide
                    the value of a subset of important metrics that are faster to evaluate. Among the applications of
                    the
                    offline mode, one can name quality monitoring of edited files where the quality metrics shall be
                    checked
                    frame by frame.
                    3. Multi-file mode: With this mode, the user is able to request various quality metrics on a batch
                    of
                    video
                    files. To expedite the evaluation procedure, the video files and the desired metrics are saved as
                    report
                    files, but not displayed. This mode is best suited for archives.
                    Email: info@namakav.com
                    Address: Sharif Uni. of Tech., Azadi Ave., Tehran, Iran.
                </p>
            </div>
        </div>
    </div>

</body>
<script src="{% static 'settings.js' %}"></script>
<script src="{% static 'js/global.js' %}"></script>
<script src="{% static 'js/utilities.js' %}"></script>
<script src="{% static 'js/db.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/sidebarVideo.js' %}"></script>
<script src="{% static 'js/sidebarAudio.js' %}"></script>
<script src="{% static 'js/sidebarTheme.js' %}"></script>
<script src="{% static 'js/sidebarSetting.js' %}"></script>
<script src="{% static 'js/log.js' %}"></script>
<script src="{% static 'js/timeline.js' %}"></script>
<script src="{% static 'js/featuresError.js' %}"></script>
<script src="{% static 'js/featuresValue.js' %}"></script>
<script src="{% static 'js/errorLog.js' %}"></script>
<script src="{% static 'js/controlCenter.js' %}"></script>
<script src="{% static 'js/play.js' %}"></script>
<script src="{% static 'js/connection.js' %}"></script>

</html>