<h5 style="display: none;" id="errorLogSectionTitle" class="section-title" style="margin-top: 32px;">Error Timeline</h5>
<div class="theme-surface" style="display: none;" id="errorLog">
    <div class="el-header">
        <p>Features</p>
        <p>Start</p>
        <p>End</p>
        <p>Duration</p>
    </div>
    <div class="scroll-controler">
        <div class="before source">
            <button class="custom-sm-btn">Previous error time</button>
        </div>
        <div class="record source">
            <span class="name">Mark</span>
            <span class="start">Otto</span>
            <span class="end">Otto</span>
            <span class="duration">Otto</span>
        </div>
        <div class="after source">
            <button class="custom-sm-btn">Next error time</button>
        </div>
    </div>
</div>