<div class="features-error source">
    <div class="expand-controler">
        <div>
            <button class="custom-sm-btn"><i class="material-icons">add</i></button>
            <span>features name</span>
        </div>
    </div>
    <div class="error-content">
        <div class="scroll-manager">
            <div class="barcode-keeper">
                <span class="error source"></span>
            </div>
            <div class="diagram-keeper">
                <canvas width="400" height="400"></canvas>
            </div>
            <div class="cursor">
                <i class="material-icons">room</i>
                <span></span>
            </div>
        </div>
    </div>
</div>