<div class="time-progress-bar">
    <div class="interval container">
        <h5 theme="text">Time interval</h5>
    </div>
    <div class="timeline-container">
        <div class="timeline-viewport">
            <div class="scroll-manager">
                <div class="time-index">
                    <h6 theme="text" class="source">00:00:00</h6>
                </div>
                <div class="cursor">
                    <i class="material-icons">room</i>
                    <span theme="line"></span>
                </div>
                <div class="click-area">
                </div>
            </div>
        </div>
        <span class="start-border"></span>
        <span class="end-border"></span>
    </div>
</div>
<h5 id="featuresErrorSectionTitile" class="section-title d-none" style="margin-top: 32px;">Features Error</h5>
<div class="features-error source theme-surface">
    <div class="expand-controler">
        <div>
            <button class="custom-sm-btn"><i class="material-icons">add</i></button>
            <span>features name</span>
        </div>
    </div>
    <div class="error-content">
        <div class="scroll-manager">
            <div class="scroll-body">
                <div class="barcode-keeper">
                    <span class="error source"></span>
                </div>
                <div class="diagram-keeper">
                    <canvas width="400" height="400"></canvas>
                </div>
                <div class="cursor">
                    <i class="material-icons">room</i>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>