<h5 class="section-title">Video and Audio Pane</h5>
<input style="display: none;" id="videoInput" type="file" accept=".mp4"/>
<input style="display: none;" id="reportInput" multiple type="file" accept=".csv"/>
<div id="firstRow" style="width: 100%;display: flex;">
    <div theme="surface" id="controlCenter">
        <div class="ratio-keeper">
          <video id="main_video_player" controls></video>
          <span class="loading d-none">
            <p class="title">Analysing (0%)</p>
            <p class="desc">It may take several minutes. please wait ....</p>
            <div class="progress">
              <div class="active"></div>
            </div>
          </span>
        </div>
        <div class="control-buttons">
            <button class="custom-lg-btn" duty="start" disabled>Start Analysis</button>
            <div class="space-manager"></div>
            <button class="custom-lg-btn" duty="import">Import Video</button>
            <div class="space-manager"></div>
            <button class="custom-lg-btn" duty="report" disabled >Import Report</button>
            <div class="space-manager"></div>
            <button class="custom-lg-btn" duty="save" disabled>Save Reports</button>
            <div class="space-manager"></div>
            <button class="custom-lg-btn" duty="imformation"  data-toggle="modal" disabled data-target="#informationModal">Information</button>
            
        </div>
    </div>
    <div theme="surface" id="featuresValue">
        <div class="fv-header">
            <p class="seleceted-features">Selected Features</p>
            <p class="value">Values</p>
        </div>
        <div class="scroll-controler">
            <table class="table table-hover">
                <tbody>
                  <tr class="source">
                    <td colspan="2" class="name">Mark</td>
                    <td colspan="1" class="value">Otto</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>


<div class="modal fade" id="informationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h5>Information</h5>
        <table class="table table-borderless">
            <tbody>
              <tr class="source">
                <td class="key"></td>
                <td class="value"></td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>