<div theme="surface" id="timeline" class="source">
    <div class="interval container">
        <h5 theme="text">Time interval</h5>
        <div>
            <button theme="text" duration="1m" class="custom-sm-btn">1m</button>
            <button theme="text" duration="5m" class="custom-sm-btn">5m</button>
            <button theme="text" duration="15m" class="custom-sm-btn">15m</button>
            <button theme="text" duration="30m" class="custom-sm-btn">30m</button>
            <button theme="text" duration="1h" class="custom-sm-btn">1h</button>
            <button theme="text" duration="all" class="custom-sm-btn">All</button>
        </div>
    </div>
    <div class="timeline-container">
        <div class="timeline-viewport">
            <div class="scroll-manager">
                <div class="time-index">
                    <h6 theme="text" class="source" >00:00:00</h6>
                </div>
                <div class="frame-keeper">
                    <video class="source" ></video>
                </div>
                <div id="waveform"></div>
                <div id="waveform2"></div>
                <div class="cursor">
                    <i class="material-icons">room</i>
                    <span theme="line" ></span>
                </div>
                <div class="click-area">
                </div>
            </div>
        </div>
        <span class="start-border"></span>
        <span class="end-border"></span>
    </div>
</div>